dist/
node_modules/
overrides

dist/*
timelapse
output.webm
utils/ocean-tiles/ocean
utils/osm-tiles/osm
i18n/*.mo
test*.js
utils/rendering

# Log directory and files
logs
*.log
npm-debug.log*
*.tmp
records.json

# PID directory and files
pids
*.pid
*.seed
*.pid.lock
*.kate-swp

node_modules/

.npm
.eslintcache
.env

osm.tar.gz
clean.png
backup
ips
pixelplanetmap.zip

# User files in factions and avatars
public/factions/*.[jJ][pP][gG]
public/factions/*.[jJ][pP][eE][gG]
public/factions/*.[pP][nN][gG]
public/factions/*.[gG][iI][fF]
public/factions/*.[wW][eE][bB][pP]
public/avatars/*.[jJ][pP][gG]
public/avatars/*.[jJ][pP][eE][gG]
public/avatars/*.[pP][nN][gG]
public/avatars/*.[gG][iI][fF]
public/avatars/*.[wW][eE][bB][pP]

# Ignore redis dump files
backups/*.rdb

# Cache directory
.cache/*