/* Changes background of chat messages from a moderator */
.msgcont:has(.chat-mod) {
  background-color: rgba(255, 165, 0, 0.3);
}

/* Changes background of chat messages from a moderator that also ping the user */
.msgcont:has(.chat-mod):has(.ping):not(.chat-author) {
  background: linear-gradient(to right, rgba(255, 165, 0, 0.4), rgba(255, 0, 0, 0.3));
}

/* Changes background of chat messages sent by the user */
.msgcont:has(.chat-author) {
  background-color: rgba(0, 255, 0, 0.3);
}

/* Changes background of chat messages that ping the user */
.msgcont:has(.ping),
.msgcont:has(.chat-author):has(.ping) {
  background-color: rgba(255, 0, 0, 0.3);
}

/* Changes background of event chat messages */
.msgcont:has(.event) {
  background-color: rgba(0, 0, 255, 0.3);
}

/* Changes background of info chat messages */
.msgcont:has(.info) {
  background-color: rgba(0, 218, 255, 0.2);
}

/* Color of chat message timestamp */
.chatts {
  color: #404040;
}