/* All alert popups and the Help Menu */
.Alert, .HELP {
  background-image: 
    url("../ThemeSnow1.webp"), 
    url("../ThemeSnow2.webp"),
    linear-gradient(to top, #fff, #9d9d9d);
  
  background-repeat: no-repeat, repeat, no-repeat;
  
  background-position: 
    bottom right,
    top,
    top;
  
  background-size: 
    auto 30%,
    auto,
    100% 50%;
}

/* The User and Canvas Menus */
.USERAREA, .CANVAS_SELECTION {
  background-image: 
    url("../ThemeSnow3.webp"), 
    url("../ThemeSnow2.webp"),
    linear-gradient(to top, #fff, #9d9d9d);
  
  background-repeat: no-repeat, repeat, no-repeat;
  
  background-position: 
    bottom right,
    top,
    top;
  
  background-size: 
    50%,
    auto,
    100% 50%;
}

/* The chat window */
.CHAT {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><circle cx="5" cy="5" r="2" fill="white" /></svg>') repeat, linear-gradient(to bottom, #e3e3e3, #dceffc);
  animation: snow 20s linear infinite;
}

/* The snow animation for the chat window */
@keyframes snow {
  0% { background-position: -100% 0%; }
  7% { background-position: -100% 7%; }
  14% { background-position: -80% 14%; }
  21% { background-position: -65% 21%; }
  28% { background-position: -55% 28%; }
  35% { background-position: -50% 35%; }
  42% { background-position: -50% 42%; }
  49% { background-position: -55% 49%; }
  56% { background-position: -65% 56%; }
  63% { background-position: -80% 63%; }
  70% { background-position: -100% 70%; }
  77% { background-position: -80% 77%; }
  84% { background-position: -65% 84%; }
  91% { background-position: -55% 91%; }
  98% { background-position: -50% 98%; }
  100% { background-position: -50% 100%; }
}

/* The canvas selection, canvas buttons */
.cvbtn {
  background-color: rgb(255 255 255 / 50%);
}

/* The canvas selection, canvas buttons on hover/focus */
.cvbtn:hover, .cvbtn:focus {
  background-color: rgb(0 0 0 / 20%);
}

/* Chat messages on hover/focus */
.chatmsg:hover, .chatmsg:focus {
  background-color: rgb(0 0 0 / 20%);
}