a:link {
    color: #91ffe0
}

a:visited {
    color: #b5d06d
}

a:hover, .modallink:hover {
    color: #8ad5f6
}

.modallink {
    color: #91ffe0
}

.inarea {
    border-color: #d5d5d5
}

.no-factions {
  box-shadow: 0 4px 20px rgba(255,255,255,.2);
  border: 1px solid rgba(255,255,255,.1);
}

.no-factions h3 {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.3);
}

.no-factions p {
  color: rgba(255,255,255,.8);
}

.file-upload {
  border: 2px dashed rgba(255,255,255,.2);
  background: rgba(255,255,255,.05);
}

.file-upload:hover {
  border-color: rgba(255,255,255,.4);
  background: rgba(255,255,255,.1);
}

.file-upload-icon {
  color: rgba(255,255,255,.6);
}

.file-upload-text {
  color: rgba(255,255,255,.8);
}

.file-upload-info {
  color: rgba(255,255,255,.6);
}

.tab-list-item {
    color: #e2e2e2
}

.tab-list-item.active {
    background-color: #7b7b7b;
    color: #fff
}

.tab-list-item:not(.active):hover {
    background-color: #636363
}

tr:nth-child(2n) {
    background-color: #505050
}

.popup,.window {
    background-color: rgb(23 23 23 / 98%);
    color: #c3c3c3
}

.window {
    border-radius: 4px
}

.modal-topbtn,.win-topbar {
    color: #000
}

.win-title {
    background-color: #5e5e5e;
    color: #fafafa;
}

.win-title:hover {
    background-color: #727272
}

.modal-topbtn,.win-topbtn {
    background-color: #5e5e5e;
    color: #fafafa;
    border-color: #000000
}

.modal-topbtn {
    border-color: #191919;
}

.modal-topbtn:hover,.win-topbtn:hover {
    background-color: #8b8b8b
}

.channeldd,.contextmenu {
    background-color: rgb(9 9 9 / 80%);
    color: #f6f6f6;
    border-radius: 4px
}

.chntop {
    margin-top: 4px
}

.chn,.chntype,.contextmenu>div {
    background-color: #353535
}

.chn.selected,.chn:hover,.chntype.selected,.chntype:hover,.contextmenu>div:hover {
    background-color: #404040
}

#historyselect,.actionbuttons,.cooldownbox,.coorbox,.onlinebox {
    background-color: rgb(9 9 9 / 80%);
    color: #f6f6f6;
    border-radius: 15px
}

#pencilbutton.ppencil {
    background-color: rgba(131,147,19,.8)
}

#pencilbutton.phistory {
    background-color: rgba(31,84,111,.8)
}

#pencilbutton.poverlay {
    background-color: rgba(117,31,31,.8)
}

.menu>div {
    z-index: 1;
    background-color: #000000d1
}

.contextmenu>div {
    border-top: thin solid #c4c4c4 !important
}

.Alert,.modal {
    background: #262626 none repeat scroll 0 0;
    color: #e7e7e7
}

.modal {
    border-radius: 15px
}

.Alert {
    border-radius: 10px
}

.modal-content,.popup-content,.win-content {
    color: #f8f8f8;
}

h3,h4 {
    color: #a4a4a4
}

.modaldesc {
    color: #e0e0e0
}

.modaldivider {
    background-color: hsla(216,4%,74%,.3)
}

.modalinfo,.tmpitm-desc span {
    color: #ddd
}

.modalcvtext,.tmpitm-desc {
    color: hsla(220,100%,95.3%,.6)
}

.overlay {
    background-color: rgba(187,187,187,.75)
}

.chatname {
    background-color: #27292a;
    display:inline; /* Change to inline-block to truncate usernames */
    vertical-align: baseline;
    padding: 0px 2px;
    margin-left: 0px;
    text-shadow: 
    1px 1px 0 rgb(175, 175, 175), 
    -1px -1px 0 rgb(175, 175, 175),  
    1px -1px 0 rgb(175, 175, 175),  
    -1px 1px 0 rgb(175, 175, 175); 
}

.chatmsg:hover {
    background-color: #2525252b
}

.msg {
    color: #f3f3f3
}

.msg.info {
    color: #ff91a6
}

.msg.event {
    color: #9dc8ff
}

.msg.greentext {
    color: #94ff94
}

.ebex {
    color: #fff4bd
}

.chatlink {
    color: #f9edde
}

.statvalue {
    color: #ecc9ff
}

.actionbuttons:hover,.coorbox:hover,.menu>div:hover {
    background-color: rgba(71,71,71,.8)
}

.react-toggle-track {
    background-color: #080808;
}

.react-toggle--checked .react-toggle-track {
    background-color: #d8d8d8
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #a4a4a4
}

.react-toggle--checked .react-toggle-track path {
    fill: #565656;
}

.react-toggle--checked .react-toggle-thumb {
    border-color: #636363;
}

li.chatmsg {
    background-color: rgba(0,0,0,0) !important;
    padding: 3px 0 3px 2px;
    border: 0;
}

.msgcont {
    border: 2px outset #515151 !important;
}

/* Changes background of chat messages from moderators */
.msgcont:has(.chat-mod) {
    background-color: rgba(255, 165, 0, 0.3); 
}

/* Changes background of chat messages from moderators that also ping the user */
.msgcont:has(.chat-mod):has(.ping):not(.chat-author) {
    background: linear-gradient(to right, rgba(255, 165, 0, 0.3), rgba(255, 0, 0, 0.3));
}

/* Changes background of chat messages from the user */
.msgcont:has(.chat-author) {
    background-color: rgba(0, 255, 0, 0.1);
}

/* Changes background of chat messages that ping the user */
.msgcont:has(.ping),
.msgcont:has(.ping):has(.chat-author) {
    background-color: rgba(255, 0, 0, 0.3);
}

/* Changes background of event chat messages */
.msgcont:has(.event) {
    background-color: rgb(0 0 255 / 0.3);
}

/* Changes background of info chat messages */
.msgcont:has(.info) {
    background-color: rgb(0 218 255 / 0.15);
}

.chatflag {
    margin-bottom: 3px;
}

.mention {
    background-color: #373431;
    vertical-align: text-bottom;
}

.ping,
.mention{
    padding: 0em 0.2em 0em 0.15em;
    border-radius: 0.5em;
}

#sendbtn {
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 2px
}

kbd {
    color: white;
    background-color: #6d6d6d;
    box-shadow: none;
}

.bio-input,
.bio-input::-webkit-input-placeholder {
    color: white;
    background-color: #4d4d4d;
}
.edit-bio-btn {
    color:white;
}

.error-message {
    color: #ff0000;
    background-color: #8b00006e;
}

.Alert h2 {
    padding-left: 0;
}