.modal,
.overlay,
.window,
.modal-topbtn,
.Alert,
.onlinebox,
.coorbox {
    background: transparent;
    border: 2px solid #000;
    text-shadow: 
    1px 1px 0 white, 
    -1px -1px 0 white,  
    1px -1px 0 white,  
    -1px 1px 0 white; 
}

.modaldivider,
td,
th {
    border: thin solid #bababa;
}

.tab-list {
    border-bottom-color: #bababa;
}

tr:nth-child(2n) {
    background-color: rgba(255,255,255,0.33);
}

.modal-content {
    color: #212121;
}

#sendbtn,
.channelbtn,
input,
.win-topbtn,
.win-title,
.chatname,
.actionbuttons,
.menu div {
    background-color: transparent;
}